vendor/
node_modules/
bower_components/
composer.lock
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
*.iml
.idea/
*.ipr
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
.tmlanguage.cache
.tmPreferences.cache
.stTheme.cache
*.sublime-workspace
*.sublime-project
sftp-config.json